body{
    background: black;
    color: white;
    margin: 0;
    padding: 0;
}

h1{
    font-family: 'Indie Flower','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

header{
    background: lightslategrey;
    text-align: center;
    border: 1px solid white;
}

img{
    height: 8rem;
    width: 10rem;
}

img:hover{
    cursor: pointer;
    height: 35%;
}

#player_options{
    background: lightslategrey;
    height: 50%;
    position: absolute;
    width: 100%;
    text-align: center;
    border: 1px solid white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#display_result{
    background: black;
    font: black;
    position: relative;
    height: 350px;
    margin-top: 20em;
    width: 100%;
}

p{
    color: white;
    text-align: center;
    font-family: monospace, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}

#congratulations{
    color: gold;
    font-family: fantasy, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    text-align: center;
}

h2{
    border: 1px solid white;
    margin-top: 0px;
}

h2:hover{
    background: lightslategrey;
}

span:hover{
    color: gold;
}



